In [1]:
import pandas as pd

In [10]:
data = {"node1": ["A",], "node2": ["B",], "time": pd.Timestamp("Fri Oct 30 15:29:45 +0000 2015")}
df = pd.DataFrame(data)

In [7]:
df

  node1 node2                      time
0     A     B 2015-10-30 15:29:45+00:00

In [11]:
df = df.set_index("time")

In [17]:
more_data = {"node1": ["C",], "node2": ["D",], "time": pd.Timestamp("Fri Oct 29 15:22:45 +0000 2015")}

In [20]:
df2 = pd.DataFrame(more_data).set_index("time")

In [21]:
df2

                          node1 node2
time
2015-10-29 15:22:45+00:00     C     D

In [22]:
df.append(df2)

                          node1 node2
time
2015-10-30 15:29:45+00:00     A     B
2015-10-29 15:22:45+00:00     C     D

In [25]:
cdf = df.append(df2)

### add even more data

In [28]:
even_more = {"node1": ["C","D"], "node2": ["D","F"], "time": [pd.Timestamp("Fri Oct 29 15:22:45 +0000 2015"),
                                                              pd.Timestamp("Fri Oct 22 15:21:45 +0000 2015"),
                                                              ]}

In [32]:
df3 = pd.DataFrame(even_more).set_index("time")

In [33]:
df3

                          node1 node2
time
2015-10-29 15:22:45+00:00     C     D
2015-10-22 15:21:45+00:00     D     F

In [40]:
cdf2 = cdf.append(df3)

## Count Degree
can simply count the number of rows in each column (node1 + node2)

In [41]:
cdf2["node1"]

time
2015-10-30 15:29:45+00:00    A
2015-10-29 15:22:45+00:00    C
2015-10-29 15:22:45+00:00    C
2015-10-22 15:21:45+00:00    D
Name: node1, dtype: object

In [51]:
cdf2["node1"].value_counts()

C    2
A    1
D    1
Name: node1, dtype: int64

In [49]:
sum(cdf2["node2"].value_counts())

4

In [48]:
## or simply the number of rows
cdf2.shape[0]*2

8

## Count Number of Unique Hashtags (nodes)

In [55]:
cdf2["node1"].append(cdf2["node2"])

time
2015-10-30 15:29:45+00:00    A
2015-10-29 15:22:45+00:00    C
2015-10-29 15:22:45+00:00    C
2015-10-22 15:21:45+00:00    D
2015-10-30 15:29:45+00:00    B
2015-10-29 15:22:45+00:00    D
2015-10-29 15:22:45+00:00    D
2015-10-22 15:21:45+00:00    F
dtype: object

In [57]:
len(cdf2["node1"].append(cdf2["node2"]).unique())

5

## Filter by Time

In [60]:
cdf2.sort_index()

                          node1 node2
time
2015-10-22 15:21:45+00:00     D     F
2015-10-29 15:22:45+00:00     C     D
2015-10-29 15:22:45+00:00     C     D
2015-10-30 15:29:45+00:00     A     B

In [62]:
cdf2.sort_index(ascending=False)

                          node1 node2
time
2015-10-30 15:29:45+00:00     A     B
2015-10-29 15:22:45+00:00     C     D
2015-10-29 15:22:45+00:00     C     D
2015-10-22 15:21:45+00:00     D     F

In [66]:
cdf2.sort_index(ascending=False).head(1).index + pd.Timedelta("90 sec")

DatetimeIndex(['2015-10-30 15:31:15+00:00'], dtype='datetime64[ns, UTC]', name='time', freq=None)

In [80]:
min_time = cdf2.index.max() - pd.Timedelta("90 sec")

In [87]:
min_time

Timestamp('2015-10-30 15:28:15+0000', tz='UTC')

In [90]:
type(min_time) == pd.tslib.Timestamp

True

In [82]:
cdf2[cdf2.index > min_time ]

                          node1 node2
time
2015-10-30 15:29:45+00:00     A     B

In [91]:
set(["A", "B"])

{'A', 'B'}

In [93]:
cdf2.shape

(4, 2)